/* General Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #06402B;
    color: white;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-container {
    flex: 1;
    justify-content: center;
}

/* Navigation Bar */

nav {
    background-color: #06402B;
    padding: 10px;
    text-align: center;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

.lia p {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Post Styles */
.post {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.post h2 {
    margin: 0;
    color: #333;
}

.post-image {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

/* Buttons */
/* button, .btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none; 
}

button:hover, .btn:hover {
    background-color: #0056b3;
    text-decoration: underline; 
}

button {
    all: unset; 
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
} */

/* Form Styling */
form {
    margin-top: 15px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

form label {
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #06402B;
    color: white;
    margin-top: auto;
}

.post_controls {
    margin-top: 30px;
}





